.progressBarContainer {
  background-color: #eee;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
}

.progressBar {
  background-color: #ba68c8;
  height: 100%;
  transition: width 0.3s ease-in-out;
}
